

div{ 
background-color:burlywood;
border-style: solid;
border-width: 1px;
border-color: black;
width: 100vw; height: 70px;
}

div.botommm
{position:absolute;
top:800px;
}

#blauwvierkant
{position: absolute;
background-color:floralwhite;
width: 200px; height: 120px;
top:0px;
left:250px;

}

#roodinblauw{background-color: darkred;
    font-style: italic;
    color: floralwhite;
    width: 70px;
    position: absolute;
    top:100px;left:50px;
}

#groenvierkant
{position: absolute;
background-color:floralwhite;
width: 200px; height: 120px;
top:0px;
left:250px;

}